body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

a{
    color: white;
}

* {
    margin: 0%;
    padding: 0%;
}

#body {
    display: flex;
    flex-direction: row;
}

.games {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
    border-style: dotted;
    width: 97.5vw;
    color: white;
}

.pcgames {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mobilegames {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.headingdiv {
    text-align: center;
}

.header {
    background-color: #e60000;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}

#stay_alive {
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #8a007e;
    padding: 8px;
    border-radius: 10px;
}

#be_fast {
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #8a007e;
    padding: 8px;
    border-radius: 10px;
}

#my_photo {
    display: inline-block;
    background-color: #8a007e;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#info {
    display: inline-block;
    background-color: #8a007e;
    color: #ffffff;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    height: max-content;
}

#about_me {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

#contact {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a007e;
    padding: 10px;
    border-radius: 10px;
}