
@media screen and (max-width: 600px){
    .about_me{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #info{
        font-size: large;
    }    
    footer{
        position:fixed;   
        bottom: 0px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eb196a;
        padding: 10px;
        border-radius: 10px;
        font-size: large;
    }
}
@media screen and (min-width: 600px){
    .about_me{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    #info{
        font-size: medium;
    }    
    footer{
        position:fixed;   
        bottom: 0px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eb196a;
        padding: 10px;
        border-radius: 10px;
        font-size: medium;
    }
}
body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
*{
    margin: 0%;
    padding: 0%;
}

.header{
    background-color:#e60000;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}
#stay_alive{
    border-radius: 20%;
    display: inline-block;
    margin: 20px;
    background-color: rgb(138, 0, 126);
    padding: 8px;
    border-radius: 10px;
}
#be_fast{
    border-radius: 20%;
    display: inline-block;
    margin: 20px;
    background-color: rgb(138, 0, 126);
    padding: 8px;
    border-radius: 10px;
}
#my_photo{
    display: inline-block;
    background-color: rgb(138, 0, 126);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}
#info{
    display: inline-block;
    background-color: rgb(138, 0, 126);
    color: #ffffff;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
}
